@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My MVC Website Home Page";

}



<body>
    <!--Header that includes my prefered name-->
    <h1>Zach Sterling</h1>
    <br />

    <!--Picture of me boating-->
    <img src="~/img/Zach_S_Boating.jpg" />
    <br />

    <!--Paragraph about me-->
    <h3>What I hope to get out of IS 413</h3>
    <p>
        So far IS 413 has copied a lot of content from IS 403, mainly the overall structure of a professional website.
        I hope to learn more about incorporating features that make a website feel professional and usable: interactiveness,
        strong back-end support to store and process data, and further advice on how to successfuly structure a functioning website.
        There is a lot I have not learned about web development, so I am excited to learn a lot from this class.
        I understand that the course will be challenging, but I hope that it is not exceedingly daunting, meaning what is expected
        from students it attainable with a bit of stretching present. Although I hope to gain great skills in web development from this class
        I also understand that the point of a class is to not only teach content but to also excite students about the subject. I would
        like to be more excited about web development and participating in the magic that is the Internet.
    </p>
    <br />

    <!--List of top 3 jobs-->
    <h3>Top 3 Jobs I am currently interested in</h3>
    <ol>
        <li>Cybersecurity Manager</li>
        <li>Software Developer</li>
        <li>Video Game Designer</li>
    </ol>

</body>